# EPSY 5200: Programming for Social Science Researchers
## Assignment 11
### Due Tuesday, December 1 by 2:30pm

#### Problem 0

If you've made it to this document, you likely already did Problem 0 from the readme.  But just in case, here it is again!

a) Let's watch some videos! I recommend all the videos in this series (for future learning), but we will just focus on two now. Watch the first half of this video (https://www.youtube.com/watch?v=_NrSWLQsDL4&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=3) -- just the part about forking, you can ignore pull requests!  Then watch this video:
https://www.youtube.com/watch?v=yXT1ElMEkW8&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=6 (you don't have to do the terminal git commands, you can use the clone strategy we used in class)

b) Using what you learned in 0a, **fork** my GitHub repository (remote repo) to your own account, then **clone** to your hard drive (local repo) using GitKraken (or use the command-line if you want the extra challenge).  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment (e.g., "Just finished Part 1! Git is fun!" or whatever).  Then PUSH back to GitHub.

###### Note on privacy!

By default, GitHub repos are public (promoting open source sharing of code), but of course you are more than welcome to make your code for this assignment private, as is your right!  Unfortunately, it's a little bit complicated because GitKraken recently made a change that the free version of their software doesn't allow for private repo access, and you need the paid version.  So here are 3 ways to do this privately:

1) GitKraken partners with GitHub to provide a free pack of resources (including the pro version of GitKraken) for *students*.  That's you!  So you can sign up here *only if you want to do this*: https://education.github.com/pack?utm_source=github+gitkraken

2) Just keep your GitHub repo public while you're working on this project.  Use free GitKraken.  Then switch the GitHub repo to Private only when you're done using GitKraken to push to GitHub.

3) Keep the repo private and use the terminal git commands in the YouTube video for Problem 0a.

To make the repo private:
On your GitHub repo, go to Settings > Manage Access > Manage (under Public Repository) > Change Visibility.  Then add me (jkbye) as a 'collaborator' so I can see it: Settings > Manage Access > Invite a Collaborator (green button) > add 'jkbye'.

#### Problem 1

Now let's get to Jupyter!

a) Import any helpful libraries in this Jupyter Notebook.

b) Load the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

c) Adapt the example code in the chunk below to replace all spaces in column names with underscores. This is good practice in order to not cause problems with functions that don't allow spaces in variable names (e.g., **smf.ols**).

d) Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.

e) Find the descriptives for numeric columns.

f) Commit your changes and push to GitHub!

In [1]:
#Problem 1_a
import numpy.random as npr
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.formula.api as smf

In [2]:
#Problem 1_b 
school= pd.read_csv('MA_Public_Schools_2017.csv')
school.head

<bound method NDFrame.head of       School Code                                        School Name  \
0           10505                                      Abington High
1           10003                     Beaver Brook Elementary School
2           10002                           Center Elementary School
3           10405                               Frolio Middle School
4           10015                        Woodsdale Elementary School
...           ...                                                ...
1856     35060505     Pioneer Charter School of Science II (PCSS-II)
1857     35100205             Springfield Preparatory Charter School
1858     39020900  TEC Connections Academy Commonwealth Virtual S...
1859     35050405            UP Academy Charter School of Dorchester
1860     35120305           UP Academy Charter School of Springfield

         School Type          Town State  \
0      Public School      Abington    MA
1      Public School      Abington    MA
2      Public School      Abington    MA
3      Public School      Abington    MA
4      Public School      Abington    MA
...              ...           ...   ...
1856  Charter School        Saugus    MA
1857  Charter School   Springfield    MA
1858   Public School  East Walpole    MA
1859  Charter School        Boston    MA
1860  Charter School        Boston    MA

                                      Grade  \
0                               09,10,11,12
1                               01,02,03,04
2                                      PK,K
3                                     07,08
4                                     05,06
...                                     ...
1856                      07,08,09,10,11,12
1857                                K,01,02
1858  K,01,02,03,04,05,06,07,08,09,10,11,12
1859           PK,K,01,02,03,04,05,06,07,08
1860                               06,07,08

                                          District Name  District Code  \
0                                              Abington          10000
1                                              Abington          10000
2                                              Abington          10000
3                                              Abington          10000
4                                              Abington          10000
...                                                 ...            ...
1856  Pioneer Charter School of Science II (PCSS-II)...       35060000
1857  Springfield Preparatory Charter School (District)       35100000
1858  TEC Connections Academy Commonwealth Virtual S...       39020000
1859  UP Academy Charter School of Dorchester (Distr...       35050000
1860  UP Academy Charter School of Springfield (Dist...       35120000

      PK_Enrollment  K_Enrollment  ...  Number of Students  Salary Totals  \
0                 0             0  ...               451.0      9489496.0
1                 0             0  ...               643.0      9489496.0
2                69           134  ...               208.0      9489496.0
3                 0             0  ...               342.0      9489496.0
4                 0             0  ...               334.0      9489496.0
...             ...           ...  ...                 ...            ...
1856              0             0  ...               267.0            NaN
1857              0            54  ...               108.0            NaN
1858              0            20  ...              1014.0            NaN
1859             52            65  ...               655.0            NaN
1860              0             0  ...                 NaN            NaN

      Average Salary  FTE Count  In-District Expenditures  \
0            74662.0      127.0               23365711.18
1            74662.0      127.0               23365711.18
2            74662.0      127.0               23365711.18
3            74662.0      127.0               23365711.18
4            74662.0      127.0               23365711.18
...              ...        ...                       ...
1856             NaN        NaN                       NaN
1857             NaN        NaN                       NaN
1858             NaN        NaN                       NaN
1859             NaN        NaN                       NaN
1860             NaN        NaN                       NaN

      Total In-district FTEs  Average In-District Expenditures per Pupil  \
0                     1939.0                                    12050.39
1                     1939.0                                    12050.39
2                     1939.0                                    12050.39
3                     1939.0                                    12050.39
4                     1939.0                                    12050.39
...                      ...                                         ...
1856                     NaN                                         NaN
1857                     NaN                                         NaN
1858                     NaN                                         NaN
1859                     NaN                                         NaN
1860                     NaN                                         NaN

      Total Expenditures  Total Pupil FTEs  Average Expenditures per Pupil
0             27229100.8            2051.8                        13270.84
1             27229100.8            2051.8                        13270.84
2             27229100.8            2051.8                        13270.84
3             27229100.8            2051.8                        13270.84
4             27229100.8            2051.8                        13270.84
...                  ...               ...                             ...
1856                 NaN               NaN                             NaN
1857                 NaN               NaN                             NaN
1858                 NaN               NaN                             NaN
1859                 NaN               NaN                             NaN
1860                 NaN               NaN                             NaN

[1861 rows x 48 columns]>

In [5]:
#Problem 1_c
# starter code for 1c -- replace school_data w/ your dataframe name
school.columns = school.columns.str.replace(' ', '_') # notice this replaces the 1st argument w/ the 2nd
school.head

<bound method NDFrame.head of       School_Code                                        School_Name  \
0           10505                                      Abington High
1           10003                     Beaver Brook Elementary School
2           10002                           Center Elementary School
3           10405                               Frolio Middle School
4           10015                        Woodsdale Elementary School
...           ...                                                ...
1856     35060505     Pioneer Charter School of Science II (PCSS-II)
1857     35100205             Springfield Preparatory Charter School
1858     39020900  TEC Connections Academy Commonwealth Virtual S...
1859     35050405            UP Academy Charter School of Dorchester
1860     35120305           UP Academy Charter School of Springfield

         School_Type          Town State  \
0      Public School      Abington    MA
1      Public School      Abington    MA
2      Public School      Abington    MA
3      Public School      Abington    MA
4      Public School      Abington    MA
...              ...           ...   ...
1856  Charter School        Saugus    MA
1857  Charter School   Springfield    MA
1858   Public School  East Walpole    MA
1859  Charter School        Boston    MA
1860  Charter School        Boston    MA

                                      Grade  \
0                               09,10,11,12
1                               01,02,03,04
2                                      PK,K
3                                     07,08
4                                     05,06
...                                     ...
1856                      07,08,09,10,11,12
1857                                K,01,02
1858  K,01,02,03,04,05,06,07,08,09,10,11,12
1859           PK,K,01,02,03,04,05,06,07,08
1860                               06,07,08

                                          District_Name  District_Code  \
0                                              Abington          10000
1                                              Abington          10000
2                                              Abington          10000
3                                              Abington          10000
4                                              Abington          10000
...                                                 ...            ...
1856  Pioneer Charter School of Science II (PCSS-II)...       35060000
1857  Springfield Preparatory Charter School (District)       35100000
1858  TEC Connections Academy Commonwealth Virtual S...       39020000
1859  UP Academy Charter School of Dorchester (Distr...       35050000
1860  UP Academy Charter School of Springfield (Dist...       35120000

      PK_Enrollment  K_Enrollment  ...  Number_of_Students  Salary_Totals  \
0                 0             0  ...               451.0      9489496.0
1                 0             0  ...               643.0      9489496.0
2                69           134  ...               208.0      9489496.0
3                 0             0  ...               342.0      9489496.0
4                 0             0  ...               334.0      9489496.0
...             ...           ...  ...                 ...            ...
1856              0             0  ...               267.0            NaN
1857              0            54  ...               108.0            NaN
1858              0            20  ...              1014.0            NaN
1859             52            65  ...               655.0            NaN
1860              0             0  ...                 NaN            NaN

      Average_Salary  FTE_Count  In-District_Expenditures  \
0            74662.0      127.0               23365711.18
1            74662.0      127.0               23365711.18
2            74662.0      127.0               23365711.18
3            74662.0      127.0               23365711.18
4            74662.0      127.0               23365711.18
...              ...        ...                       ...
1856             NaN        NaN                       NaN
1857             NaN        NaN                       NaN
1858             NaN        NaN                       NaN
1859             NaN        NaN                       NaN
1860             NaN        NaN                       NaN

      Total_In-district_FTEs  Average_In-District_Expenditures_per_Pupil  \
0                     1939.0                                    12050.39
1                     1939.0                                    12050.39
2                     1939.0                                    12050.39
3                     1939.0                                    12050.39
4                     1939.0                                    12050.39
...                      ...                                         ...
1856                     NaN                                         NaN
1857                     NaN                                         NaN
1858                     NaN                                         NaN
1859                     NaN                                         NaN
1860                     NaN                                         NaN

      Total_Expenditures  Total_Pupil_FTEs  Average_Expenditures_per_Pupil
0             27229100.8            2051.8                        13270.84
1             27229100.8            2051.8                        13270.84
2             27229100.8            2051.8                        13270.84
3             27229100.8            2051.8                        13270.84
4             27229100.8            2051.8                        13270.84
...                  ...               ...                             ...
1856                 NaN               NaN                             NaN
1857                 NaN               NaN                             NaN
1858                 NaN               NaN                             NaN
1859                 NaN               NaN                             NaN
1860                 NaN               NaN                             NaN

[1861 rows x 48 columns]>

In [7]:
#check column names
school.columns

Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'District_Code', 'PK_Enrollment', 'K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', '%_First_Language_Not_English',
       '%_English_Language_Learner', '%_Students_With_Disabilities',
       '%_High_Needs', '%_Economically_Disadvantaged', '%_African_American',
       '%_Asian', '%_Hispanic', '%_White', '%_Native_American',
       '%_Native_Hawaiian,_Pacific_Islander', '%_Multi-Race,_Non-Hispanic',
       '%_Males', '%_Females', 'Average_Class_Size', 'Number_of_Students',
       'Salary_Totals', 'Average_Salary', 'FTE_Count',
       'In-District_Expenditures', 'Total_In-district_FTEs',
       'Average_In-District_Expenditures_per_Pupil', 'Total_Expenditures',
       'Total_Pupil_FTEs', 'Average_Expenditures_per_Pupil'],
      dtype='object')

In [8]:
#problem 1_d
#Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.
school.columns = school.columns.str.replace('%', 'Perc') # notice this replaces the 1st argument w/ the 2nd
school.head

<bound method NDFrame.head of       School_Code                                        School_Name  \
0           10505                                      Abington High
1           10003                     Beaver Brook Elementary School
2           10002                           Center Elementary School
3           10405                               Frolio Middle School
4           10015                        Woodsdale Elementary School
...           ...                                                ...
1856     35060505     Pioneer Charter School of Science II (PCSS-II)
1857     35100205             Springfield Preparatory Charter School
1858     39020900  TEC Connections Academy Commonwealth Virtual S...
1859     35050405            UP Academy Charter School of Dorchester
1860     35120305           UP Academy Charter School of Springfield

         School_Type          Town State  \
0      Public School      Abington    MA
1      Public School      Abington    MA
2      Public School      Abington    MA
3      Public School      Abington    MA
4      Public School      Abington    MA
...              ...           ...   ...
1856  Charter School        Saugus    MA
1857  Charter School   Springfield    MA
1858   Public School  East Walpole    MA
1859  Charter School        Boston    MA
1860  Charter School        Boston    MA

                                      Grade  \
0                               09,10,11,12
1                               01,02,03,04
2                                      PK,K
3                                     07,08
4                                     05,06
...                                     ...
1856                      07,08,09,10,11,12
1857                                K,01,02
1858  K,01,02,03,04,05,06,07,08,09,10,11,12
1859           PK,K,01,02,03,04,05,06,07,08
1860                               06,07,08

                                          District_Name  District_Code  \
0                                              Abington          10000
1                                              Abington          10000
2                                              Abington          10000
3                                              Abington          10000
4                                              Abington          10000
...                                                 ...            ...
1856  Pioneer Charter School of Science II (PCSS-II)...       35060000
1857  Springfield Preparatory Charter School (District)       35100000
1858  TEC Connections Academy Commonwealth Virtual S...       39020000
1859  UP Academy Charter School of Dorchester (Distr...       35050000
1860  UP Academy Charter School of Springfield (Dist...       35120000

      PK_Enrollment  K_Enrollment  ...  Number_of_Students  Salary_Totals  \
0                 0             0  ...               451.0      9489496.0
1                 0             0  ...               643.0      9489496.0
2                69           134  ...               208.0      9489496.0
3                 0             0  ...               342.0      9489496.0
4                 0             0  ...               334.0      9489496.0
...             ...           ...  ...                 ...            ...
1856              0             0  ...               267.0            NaN
1857              0            54  ...               108.0            NaN
1858              0            20  ...              1014.0            NaN
1859             52            65  ...               655.0            NaN
1860              0             0  ...                 NaN            NaN

      Average_Salary  FTE_Count  In-District_Expenditures  \
0            74662.0      127.0               23365711.18
1            74662.0      127.0               23365711.18
2            74662.0      127.0               23365711.18
3            74662.0      127.0               23365711.18
4            74662.0      127.0               23365711.18
...              ...        ...                       ...
1856             NaN        NaN                       NaN
1857             NaN        NaN                       NaN
1858             NaN        NaN                       NaN
1859             NaN        NaN                       NaN
1860             NaN        NaN                       NaN

      Total_In-district_FTEs  Average_In-District_Expenditures_per_Pupil  \
0                     1939.0                                    12050.39
1                     1939.0                                    12050.39
2                     1939.0                                    12050.39
3                     1939.0                                    12050.39
4                     1939.0                                    12050.39
...                      ...                                         ...
1856                     NaN                                         NaN
1857                     NaN                                         NaN
1858                     NaN                                         NaN
1859                     NaN                                         NaN
1860                     NaN                                         NaN

      Total_Expenditures  Total_Pupil_FTEs  Average_Expenditures_per_Pupil
0             27229100.8            2051.8                        13270.84
1             27229100.8            2051.8                        13270.84
2             27229100.8            2051.8                        13270.84
3             27229100.8            2051.8                        13270.84
4             27229100.8            2051.8                        13270.84
...                  ...               ...                             ...
1856                 NaN               NaN                             NaN
1857                 NaN               NaN                             NaN
1858                 NaN               NaN                             NaN
1859                 NaN               NaN                             NaN
1860                 NaN               NaN                             NaN

[1861 rows x 48 columns]>

In [9]:
school.columns

Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'District_Code', 'PK_Enrollment', 'K_Enrollment',
       '1_Enrollment', '2_Enrollment', '3_Enrollment', '4_Enrollment',
       '5_Enrollment', '6_Enrollment', '7_Enrollment', '8_Enrollment',
       '9_Enrollment', '10_Enrollment', '11_Enrollment', '12_Enrollment',
       'SP_Enrollment', 'Perc_First_Language_Not_English',
       'Perc_English_Language_Learner', 'Perc_Students_With_Disabilities',
       'Perc_High_Needs', 'Perc_Economically_Disadvantaged',
       'Perc_African_American', 'Perc_Asian', 'Perc_Hispanic', 'Perc_White',
       'Perc_Native_American', 'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil'],
      dtype='object')

In [10]:
#problem 1_e
#Find the descriptives for numeric columns.
school.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
School_Code,1861.0,2.918442e+06,3.941407e+06,10002.00,9.700600e+05,2.100410e+06,3.310030e+06,3.902090e+07
District_Code,1861.0,2.918254e+06,3.941370e+06,10000.00,9.700000e+05,2.100000e+06,3.310000e+06,3.902000e+07
PK_Enrollment,1861.0,1.583772e+01,3.778451e+01,0.00,0.000000e+00,0.000000e+00,1.500000e+01,5.600000e+02
K_Enrollment,1861.0,3.553520e+01,4.463299e+01,0.00,0.000000e+00,1.700000e+01,6.400000e+01,5.570000e+02
1_Enrollment,1861.0,3.662923e+01,4.273241e+01,0.00,0.000000e+00,2.200000e+01,6.600000e+01,2.450000e+02
2_Enrollment,1861.0,3.751854e+01,4.384267e+01,0.00,0.000000e+00,2.000000e+01,6.800000e+01,2.500000e+02
3_Enrollment,1861.0,3.858463e+01,4.654178e+01,0.00,0.000000e+00,1.600000e+01,7.100000e+01,3.190000e+02
4_Enrollment,1861.0,3.871736e+01,4.891556e+01,0.00,0.000000e+00,1.600000e+01,7.000000e+01,4.460000e+02
5_Enrollment,1861.0,3.808920e+01,5.504038e+01,0.00,0.000000e+00,0.000000e+00,6.600000e+01,4.870000e+02
6_Enrollment,1861.0,3.787963e+01,7.530429e+01,0.00,0.000000e+00,0.000000e+00,4.500000e+01,4.900000e+02
7_Enrollment,1861.0,3.854379e+01,8.132066e+01,0.00,0.000000e+00,0.000000e+00,2.200000e+01,5.110000e+02
8_Enrollment,1861.0,3.854057e+01,8.204883e+01,0.00,0.000000e+00,0.000000e+00,2.000000e+01,6.440000e+02
9_Enrollment,1861.0,4.093659e+01,1.071493e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.223000e+03
10_Enrollment,1861.0,3.934498e+01,1.022343e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.048000e+03
11_Enrollment,1861.0,3.830145e+01,1.000308e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,9.780000e+02
12_Enrollment,1861.0,3.729017e+01,9.642055e+01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,9.930000e+02
SP_Enrollment,1861.0,7.431488e-01,3.355883e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,4.300000e+01
Perc_First_Language_Not_English,1850.0,1.854827e+01,2.003104e+01,0.00,3.200000e+00,1.050000e+01,2.790000e+01,1.000000e+02
Perc_English_Language_Learner,1850.0,9.548432e+00,1.316310e+01,0.00,9.000000e-01,3.600000e+00,1.320000e+01,8.290000e+01
Perc_Students_With_Disabilities,1850.0,1.822368e+01,1.146250e+01,0.00,1.290000e+01,1.610000e+01,2.000000e+01,1.000000e+02
Perc_High_Needs,1850.0,4.661622e+01,2.296646e+01,0.00,2.740000e+01,4.120000e+01,6.497500e+01,1.000000e+02
Perc_Economically_Disadvantaged,1850.0,3.181665e+01,2.240991e+01,0.00,1.282500e+01,2.590000e+01,4.780000e+01,9.440000e+01
Perc_African_American,1850.0,8.699459e+00,1.369828e+01,0.00,1.400000e+00,3.300000e+00,8.700000e+00,8.690000e+01
Perc_Asian,1850.0,6.050919e+00,8.763984e+00,0.00,1.200000e+00,2.600000e+00,6.900000e+00,7.370000e+01
Perc_Hispanic,1850.0,1.899665e+01,2.257573e+01,0.00,4.000000e+00,8.200000e+00,2.730000e+01,9.800000e+01
Perc_White,1850.0,6.232649e+01,2.956209e+01,0.00,4.100000e+01,7.320000e+01,8.660000e+01,1.000000e+02
Perc_Native_American,1850.0,2.334595e-01,5.017325e-01,0.00,0.000000e+00,0.000000e+00,3.000000e-01,8.000000e+00
"Perc_Native_Hawaiian,_Pacific_Islander",1850.0,9.800000e-02,2.858125e-01,0.00,0.000000e+00,0.000000e+00,1.000000e-01,6.100000e+00
"Perc_Multi-Race,_Non-Hispanic",1850.0,3.596595e+00,2.420830e+00,0.00,1.900000e+00,3.200000e+00,4.775000e+00,1.740000e+01
Perc_Males,1850.0,5.189941e+01,5.121577e+00,24.00,4.940000e+01,5.140000e+01,5.360000e+01,1.000000e+02
Perc_Females,1850.0,4.809514e+01,5.122469e+00,0.00,4.640000e+01,4.860000e+01,5.060000e+01,7.600000e+01
Average_Class_Size,1823.0,1.832057e+01,3.966979e+00,2.00,1.630000e+01,1.860000e+01,2.080000e+01,4.110000e+01
Number_of_Students,1823.0,5.235156e+02,3.578617e+02,2.00,3.065000e+02,4.450000e+02,6.345000e+02,4.327000e+03
Salary_Totals,1769.0,5.625178e+07,9.335788e+07,55340.00,1.215839e+07,2.269741e+07,4.808571e+07,3.838662e+08
Average_Salary,1769.0,7.403664e+04,7.990377e+03,34588.00,6.857200e+04,7.347100e+04,7.825600e+04,1.007310e+05
FTE_Count,1769.0,7.078530e+02,1.065807e+03,2.00,1.660000e+02,3.080000e+02,6.270000e+02,4.323000e+03
In-District_Expenditures,1768.0,1.518097e+08,2.661339e+08,697550.00,3.061598e+07,5.293331e+07,1.287478e+08,1.093104e+09
Total_In-district_FTEs,1768.0,9.376336e+03,1.401573e+04,38.40,2.312150e+03,4.205300e+03,7.700400e+03,5.685880e+04
Average_In-District_Expenditures_per_Pupil,1768.0,1.457386e+04,2.940803e+03,9451.51,1.278525e+04,1.359949e+04,1.547808e+04,3.878085e+04
Total_Expenditures,1768.0,1.731198e+08,3.093057e+08,1132413.00,3.353242e+07,5.863741e+07,1.335444e+08,1.269580e+09
Total_Pupil_FTEs,1768.0,1.046607e+04,1.628747e+04,82.80,2.442900e+03,4.392000e+03,8.378900e+03,6.596460e+04
Average_Expenditures_per_Pupil,1768.0,1.503825e+04,2.743977e+03,10399.97,1.333970e+04,1.413748e+04,1.590029e+04,3.050505e+04

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

d) Commit your changes and push to GitHub!

In [22]:
# Problem 2 code here (can split into multiple code chunks if you want)
# Problem_2a
school2 = school.drop(['District_Code'], axis = 1)
school2

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,PK_Enrollment,K_Enrollment,1_Enrollment,...,Number_of_Students,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,0,0,0,...,451.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,0,0,125,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,69,134,0,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,0,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,0,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Saugus,MA,"07,08,09,10,11,12",Pioneer Charter School of Science II (PCSS-II)...,0,0,0,...,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,35100205,Springfield Preparatory Charter School,Charter School,Springfield,MA,"K,01,02",Springfield Preparatory Charter School (District),0,54,54,...,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,East Walpole,MA,"K,01,02,03,04,05,06,07,08,09,10,11,12",TEC Connections Academy Commonwealth Virtual S...,0,20,27,...,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Boston,MA,"PK,K,01,02,03,04,05,06,07,08",UP Academy Charter School of Dorchester (Distr...,52,65,72,...,655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,35120305,UP Academy Charter School of Springfield,Charter School,Boston,MA,"06,07,08",UP Academy Charter School of Springfield (Dist...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
school2.columns

Index(['School_Code', 'School_Name', 'School_Type', 'Town', 'State', 'Grade',
       'District_Name', 'PK_Enrollment', 'K_Enrollment', '1_Enrollment',
       '2_Enrollment', '3_Enrollment', '4_Enrollment', '5_Enrollment',
       '6_Enrollment', '7_Enrollment', '8_Enrollment', '9_Enrollment',
       '10_Enrollment', '11_Enrollment', '12_Enrollment', 'SP_Enrollment',
       'Perc_First_Language_Not_English', 'Perc_English_Language_Learner',
       'Perc_Students_With_Disabilities', 'Perc_High_Needs',
       'Perc_Economically_Disadvantaged', 'Perc_African_American',
       'Perc_Asian', 'Perc_Hispanic', 'Perc_White', 'Perc_Native_American',
       'Perc_Native_Hawaiian,_Pacific_Islander',
       'Perc_Multi-Race,_Non-Hispanic', 'Perc_Males', 'Perc_Females',
       'Average_Class_Size', 'Number_of_Students', 'Salary_Totals',
       'Average_Salary', 'FTE_Count', 'In-District_Expenditures',
       'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil',
       'Total_Expenditures', 'Total_Pupil_FTEs',
       'Average_Expenditures_per_Pupil'],
      dtype='object')

In [21]:
# Problem_2b_1
# Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

school2['TOTAL_Enrollment'] = school2[[col for col in school2.columns if col.endswith('Enrollment')]].sum(axis=1)
school2

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,PK_Enrollment,K_Enrollment,1_Enrollment,...,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil,TOTAL_Enrollment
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,452
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,0,0,125,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,580
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,69,134,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,203
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,328
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Saugus,MA,"07,08,09,10,11,12",Pioneer Charter School of Science II (PCSS-II)...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322
1857,35100205,Springfield Preparatory Charter School,Charter School,Springfield,MA,"K,01,02",Springfield Preparatory Charter School (District),0,54,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,East Walpole,MA,"K,01,02,03,04,05,06,07,08,09,10,11,12",TEC Connections Academy Commonwealth Virtual S...,0,20,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Boston,MA,"PK,K,01,02,03,04,05,06,07,08",UP Academy Charter School of Dorchester (Distr...,52,65,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744
1860,35120305,UP Academy Charter School of Springfield,Charter School,Boston,MA,"06,07,08",UP Academy Charter School of Springfield (Dist...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [34]:
# Problem_2b_2
# https://cmdlinetips.com/2019/04/how-to-select-columns-using-prefix-suffix-of-column-names-in-pandas/
school2['TOTAL_Enrollment'] = school2.filter(regex = 'Enrollment$', axis = 1).sum(axis = 1)
school2

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,PK_Enrollment,K_Enrollment,1_Enrollment,...,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil,TOTAL_Enrollment
0,10505,Abington High,Public School,Abington,MA,"09,10,11,12",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,452
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,0,0,125,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,580
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,69,134,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,203
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,328
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,0,0,0,...,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.8,2051.8,13270.84,353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Saugus,MA,"07,08,09,10,11,12",Pioneer Charter School of Science II (PCSS-II)...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,322
1857,35100205,Springfield Preparatory Charter School,Charter School,Springfield,MA,"K,01,02",Springfield Preparatory Charter School (District),0,54,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,East Walpole,MA,"K,01,02,03,04,05,06,07,08,09,10,11,12",TEC Connections Academy Commonwealth Virtual S...,0,20,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Boston,MA,"PK,K,01,02,03,04,05,06,07,08",UP Academy Charter School of Dorchester (Distr...,52,65,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744
1860,35120305,UP Academy Charter School of Springfield,Charter School,Boston,MA,"06,07,08",UP Academy Charter School of Springfield (Dist...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [44]:
# Problem_2c
# Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html
school2.groupby('District_Name')['TOTAL_Enrollment'].mean()

District_Name
Abby Kelley Foster Charter Public (District)            1425.000000
Abington                                                 383.200000
Academy Of the Pacific Rim Charter Public (District)     527.000000
Acton-Boxborough                                         620.888889
Acushnet                                                 477.500000
                                                           ...
Winthrop                                                 492.750000
Woburn                                                   420.727273
Worcester                                                566.200000
Worthington                                               60.000000
Wrentham                                                 515.500000
Name: TOTAL_Enrollment, Length: 410, dtype: float64

#### Problem 3

a) Visualize each bivariate relationship among Average_Class_Size, Average_Salary, Perc_Economically_Disadvantaged, and Perc_English_Language_Learner.  Use the Seaborn function **pairplot**.  The argument to `pairplot` should be `school_data[['Average_Class_Size', 'Average_Salary', 'Perc_Economically_Disadvantaged', 'Perc_English_Language_Learner']]`, which will just pull those columns out from the full data frame.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the *summary*, and write a sentence interpreting the results (does not need to be detailed, just practice retrieving the relevant info on predictor significance, etc.)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables.  To do this, the formula interface would look like `"outcome_name ~ predictor1_name + predictor2_name + predictor3_name"`

b) Print the summary from 4a, and write a short interpretation of the results, especially comparing it to Problem 3c.  

c) Add School_Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Adapt your **pairplot** code from 3a to add the following argument:
`hue="School_Type"`

b) Describe what changes in the pairplots, and what it represents.

c) Commit your changes and push to GitHub!

In [ ]:
# Problem 5 code here (can split into multiple code chunks if you want)

#### Problem 6

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder). By default, Jupyter may put your HTML file in your default Downloads folder (wherever that is) -- if that happens, just manually move the file into this repo folder.

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas. Remember the note from Problem 0: you can keep your repo private and add me as a collaborator.